.body {
      background: red;
      text-align: center; 
}

h1 {
    color: white;
    font-size: 100px;
}

table, td, th{
       margin: auto;
       color: white;
       border: 10px solid white;
       padding: 10px;
       margin-bottom: 50px;
}

#Hello {
        color: brown;
}

.white {
        color: white;
}

h4 {
    color: white;
}

h3 {
    color: white;
}
